<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.arnohaase.androidspielerei"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".dummy.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                       android:value=".PersonSearchActivity" />
            </activity>
        <activity
            android:name=".PersonListActivity"
            android:label="@string/title_activity_personlist" >
        </activity>
        <activity
            android:name=".PersonDetailActivity"
            android:label="@string/title_activity_persondetails" >
        </activity>
        
        <activity android:name=".dummy.PersonSearchActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".provider.PersonProvider"
            android:authorities="de.arnohaase.androidspielerei.provider.PersonProvider" 
            />
        
        <service android:name=".dummy.PersonService" >
        </service>
    </application>

</manifest>